/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { 
	height: 100%; 
	}

body {
  background-color: #000000;
  font: 12px FreeSerif;
  color: #E0FFFF;
}
p{font: 20px FreeSerif;
	}
h1{font-size: 240%;}
h2,title_h2{font-size: 220%;}
h3{font-size: 200%;}
h4{font-size: 180%;}
h5{font-size: 160%;}
h6{font-size: 140%;}

a         { 
	color: #FFF0F5; 
	text-decoration:none;
	}
a:visited { color: #FFF0F5; }
a:hover   { color: #808080;}

ul{list-style:none;}
li a{
	display:block;
	font-weight:bold;
	text-align:right;
	padding:1%;
	text-decoration:none;
	text-transform:uppercase;
	}
li a:hover,a:active
{
color: #808080;
background-color:#FF8C00;
}

.header {
	float:bottom;
	margin:1%;
	text-align:center;
	}
.content {
	float:left;
	max-height:15%;
	max-width:80%;
	margin-left:10%;
	margin-top:3%;
	}
.cat_container{
	float:left;
	width:80px;
	margin-left:5%;
	margin-top:5%;
}
.category {
	height:30px;
	width:120px;
	font-size:180%;
	margin:1%;
	}
.footer {
	clear:both;
	height:50px;
	font-size: 120%;
	text-align:center;
	}
.clear {clear:both;}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
